html {
  min-height: 100%
}


body {


  background: 
  
  linear-gradient(rgb(0, 0, 0), rgb(4, 5, 83));

  overflow: hidden;
  margin: 0;
  /*
  justify-content: center;
  align-content: center;
  display: flex */

  font-family: Helvetica;

  /* text-shadow: rgb(126, 255, 233) 0.0em 0.2em 0.1em; */
  
}


.centered-content {
  margin: 0 auto; /* Center horizontally */
  display: flex;
    justify-content: center; /* Center horizontally */
    
}

a:hover {
  color: rgb(255, 129, 97);
  
}

a {
  color: rgb(142, 167, 255);
margin: 5px;

}

.square {
  width: 100px;
  height: 100px;
  background-color: #ff937e00;
  transition: all 1s 0s;
}

.toggle-down {
  transform: rotate(0deg);
}


.toggle-up {
  transform: rotate(360deg);
}



.progress-container {
  margin: 0 auto; /* Center horizontally */
  display: flex;
    justify-content: center;



  width: 200px;
  height: 20px;
  background: #000;
  border: 2px solid #000;

}

.progress-bar {


  margin: 0 auto; /* Center horizontally */
  display: flex;
    justify-content: center;
 
  width: 0;
  height: 100%;
  background: rgb(72, 0, 255);
  border: none;
  transition: width 0.3s;}