html {
  min-height: 100%
}


body {


  background: 
  
  linear-gradient(rgb(0, 0, 0), rgb(4, 5, 83));

  overflow: hidden;
  margin: 0;
  /*
  justify-content: center;
  align-content: center;
  display: flex */

  font-family: Helvetica;

  /* text-shadow: rgb(126, 255, 233) 0.0em 0.2em 0.1em; */
  
}


.centered-content {
  margin: 0 auto; /* Center horizontally */
  display: flex;
    justify-content: center; /* Center horizontally */
    
}

a:hover {
  color: rgb(255, 129, 97);
  
}

a {
  color: rgb(142, 167, 255);
margin: 5px;

}

.square {
  width: 100px;
  height: 100px;
  background-color: #ff937e00;
  transition: all 1s 0s;
}

.toggle-down {
  transform: rotate(0deg);
}


.toggle-up {
  transform: rotate(360deg);
}


#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(90, 76, 216)000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
}

#progress-bar-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 20px;
  border: 1px solid #ccc;
  overflow: hidden;
}

#progress-bar {
  height: 100%;
  width: 0; /* Set initial width to 0 */
  background-color: #4caf50;
  transition: width 0.3s; /* Add smooth transition for width changes */
}

#container {
  display: none;
}